<!doctype html>
<html>
<head>
    <title>Home</title>
    <meta name="description" content="My home page, on which I showcase my work!">
    <meta name="keywords" content="personal home page">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
        <p>Go to the <a href="{{ url_for('hello') }}">Hello Page</a></p>
        <p>Press here <a href="{{ url_for('about') }}">ABOUT</a></p>
        <p>Press here <a href="{{ url_for('home') }}">HOME</a></p>
        <p>Press here <a href="{{ url_for('layout') }}">layout</a></p>
        
</body>

</html>